body{
    font-family: $primFont;
    font-size:14px;
}

h1,h2,h3,h4,h5,h6{
    margin-top: 10px;
}

.wrapper {
    display: block;
    .side-navigation {
        display: inline-block;
        width: 15%;
        height: 100vh;
        background-color: $black;
        text-align:center;
        .logo-area {
            height: 60px;
            background-color: $headerColor;
        }
        ul {
            li {
                padding: 10px;
                margin: 20px 0;
                &:active, &:hover {
                    border-left:2px solid $gray;
                }
                a{
                    color:$gray;
                    word-spacing: 2rem;
                    letter-spacing: 2px;
                    font-size:18px;
                    &:active, &:hover{
                        background-color:transparent;
                    }
                }
            }
        }
    }
    // content area
    .content-area {
        display: inline-block;
        width: 85%;
        height: auto;
        margin-left: -4px;
        vertical-align: top;
        .content-header {
            width: 100%;
            height: 60px;
            background-color: $headerColor;
        }
        .content-body {
            padding: 1rem;
            h3{
                text-align: center;
            }
        }
    }
}


@include breakpoint(mobileonly){
    .desktop-nav{
        display: none;
    }
    .mobile-nav{
        display: block;
    }
}

@include breakpoint(phablet){
    .mobile-nav{
        display: none;
    }
}